# Build cruft.
Gemfile.lock
.sass-cache
.jekyll-metadata
node_modules
assets/css/bootstrap
assets/css/fonts
assets/js/app.concat.js
vendor/*
_site

# IDE cruft.
nbproject

# Pending stuff.
_drafts/*
.comment
