# Build cruft.
.jekyll-metadata
assets/css/bootstrap
assets/css/fonts
assets/js/app.concat.js
script/.sass-cache
script/node_modules
script/Gemfile.lock
vendor/*
Gemfile.lock
_site

# IDE cruft.
nbproject

# Pending stuff.
_drafts/*
.comment
