// Mf'in easter eggs y'all...find 'em.
$ee-debug: 0;
$ee-bg: #101010;
@if $ee-debug == 1 {
  $ee-bg: $orange; // $cyan
};

a.ee,
div.ee-c {
  background: transparent;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
  a.ee {
    @include hide-text();
    background: $ee-bg;
    height: 5px;
    width: 5px;
    position: fixed;
    z-index: 100;
  }
  div.ee-c {
    @include scale(-1, 1);
    color: $gray-darker;
    z-index: 0;
  }
  .ee-wrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 0;
  }

@mixin easter-eggs($width-aside: 0) {
  a.ee {
    top: 100px;

    &[rel="ee-0"] {
      margin: 68px 0 0 130px; }
    &[rel="ee-1"] {
      margin: 158px 0 0 203px; }
    &[rel="ee-2"] {
      margin: 260px 0 0 42px; }
  }
  .ee-wrapper {
    &.open {
      width: $width-aside; }
    .ee-c {
      margin-left: -$width-aside;
      width: $width-aside; }
  }
}
