// Hide elements visually, but keep them available for screen-readers.
// Adapted from Drupal core.
@mixin element-visible {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}
@mixin element-invisible {
  display: inline !important;
  visibility: visible !important;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;

  // The .element-focusable class extends the .element-invisible class to allow
  // the element to be focusable when navigated to via the keyboard.
  &:focus {
    @include element-visible;
  }
}

