
@import "compass/css3/images";
@import "mixins";

// Generate sprites
@import "sprites/*.png"; /**/
@include all-sprites-sprites;

.soapbox {
  .gpl {
    @extend .sprites-gplv3;
    height: sprites-sprite-height(gplv3);
    width: sprites-sprite-width(gplv3); }
  .fsf-member {
    @extend .sprites-fsf-member;
    height: sprites-sprite-height(fsf-member);
    width: sprites-sprite-width(fsf-member); }
  .drupal-member {
    @extend .sprites-drupal-member;
    height: sprites-sprite-height(drupal-member);
    width: sprites-sprite-width(drupal-member); }
  .children-international {
    @extend .sprites-children-international;
    height: sprites-sprite-height(children-international);
    width: sprites-sprite-width(children-international); }
  .aclu {
    @extend .sprites-aclu;
    height: sprites-sprite-height(aclu);
    width: sprites-sprite-width(aclu); }
  .linux {
    @extend .sprites-linux;
    height: sprites-sprite-height(linux);
    width: sprites-sprite-width(linux); }
}
