@import url("//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700");

@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

@import "compass/typography/text/replacement";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

@import "mixins";

$green: #8AE234;
$cyan: $link-color;
$stripe: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAGCAYAAAACEPQxAAAAEUlEQVQIW2NkYGBgYMRB/AcAAYYBBnc9HSMAAAAASUVORK5CYII=';
$header-height: ($line-height-computed * 2);

// Generate sprites
@import "sprites/*.png"; /**/
@include all-sprites-sprites;

h1, h2, h3, h4 {
  clear: both;
  margin: 0;
  text-transform: uppercase; }
h1, span.brand {
  color: $green;
  font-weight: bold;
  letter-spacing: ($line-height-computed / 12); }
h1 {
  margin: 0 0 ($line-height-computed * .50) 0; }
b, strong {
  color: $gray-light; }
hr {
  border-top: 1px dashed $gray-lighter;
  clear: both;
  width: 100%;
  margin: ($line-height-computed * .50) 0; }
pre {
  @include opacity(.60);
  @include border-radius(3px);
  background: $gray-darker;
  border: 0;
  color: $gray-lighter;
  font-size: $font-size-base;
  margin: 0 0 ($line-height-computed * .50) 0;
  padding: ($line-height-computed * .50);
}
code {
  @include border-radius(3px);
  background: $gray-darker;
  padding: 1px 3px;
}
iframe {
  margin: 0 0 (($line-height-computed * .50) - 5) 0; }
ul, ol {
  list-style: none outside none;
  margin-left: 0;
  padding: 0;

  &.main-menu {
    text-transform: uppercase; }
  li {
    @include clearfix();

    .bullet {
      display: block;
      padding: 0 8px; }
  }

  &.spaced {
    li {
      .bullet {
        margin: 0 0 ($line-height-computed * .50) 0; }
      &:last-child .bullet {
        margin: 0 0 0 0; }
    }
  }
}
a, a:link, a:visited, a:hover, a:active {
  border: 0;
  outline: none; }
.hidden {
  @include element-invisible(); }

html {

  &.invert {
    -webkit-filter: invert(100%);

    .no-invert * {
      -webkit-filter: invert(100%); }
  }
  &.mono body {
    font-family: $font-family-monospace; }
  &.sans body {
    font-family: $font-family-sans-serif;

    h2 span {
      @include hide-text(); }
  }

  body {
    background: url($stripe) repeat 0 0 #111;
    
    color: $gray-lighter;

    #page.container {
      overflow: hidden;
      position: relative; }
  }
}

#header {
  height: $header-height;
  padding: ($line-height-computed * .50) 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  a.logo {
    border: 0;
    outline: none;
    display: block;
    @include hide-text;
    @extend .sprites-natemow;
    height: sprites-sprite-height(natemow);
    width: sprites-sprite-width(natemow);
    margin: -10px 0 0 0;
    position: absolute;
    z-index: 2; }

  p.tagline {
    @include opacity(.15);
    margin: ((-$line-height-computed *.50) + 1) 0 0 0;
    position: absolute;
    z-index: 1; }

  .theme {
    margin: ($line-height-computed * .50) 15px 0 0;

    position: absolute;
    right: 0;
    z-index: 2;
    a.active {
      color: $green; }
  }
}

main {
  margin: $header-height 0 0 0;

  > section {
    &:first-child {
      border-left: solid 1px $gray-darker;
      border-right: solid 0px #200;

      h1, h2 {
        span {
          clear: both;
          display: block; }
      }
    }
  }

  .line-numbers {
    color: $gray-darker;
    display: block;
    left: 0;
    margin-left: -($grid-gutter-width);
    position: absolute;
    text-align: right;
    top: 0; }
  .physician {
    @include hide-text;
    @include opacity(.04);
    background: url(../img/physician.png) no-repeat 0 0 transparent;
    display: block;
    height: 700px;
    margin: $header-height 0 0 -72px;
    position: absolute;
    z-index: -1;
    width: 310px; }
}

footer {
  padding: ($line-height-computed * .50) 0;
}

.soapbox {
  @include clearfix();
  // Hardset height here so cool line number JS calc doesn't get hosed.
  height: ($line-height-computed * 7);
  overflow: hidden;

  hr {
    border: 0;
    margin: 0; }
  a {
    @include hide-text();
    display: block;
    float: left;
    margin: 0 ($grid-gutter-width / 2) ($line-height-computed * .50) 0; }
  .gpl {
    @extend .sprites-gplv3;
    height: sprites-sprite-height(gplv3);
    width: sprites-sprite-width(gplv3); }
  .fsf-member {
    @extend .sprites-fsf-member;
    height: sprites-sprite-height(fsf-member);
    width: sprites-sprite-width(fsf-member); }
  .drupal-member {
    @extend .sprites-drupal-member;
    height: sprites-sprite-height(drupal-member);
    width: sprites-sprite-width(drupal-member); }
  .children-international {
    @extend .sprites-children-international;
    height: sprites-sprite-height(children-international);
    width: sprites-sprite-width(children-international); }
  .aclu {
    @extend .sprites-aclu;
    height: sprites-sprite-height(aclu);
    width: sprites-sprite-width(aclu); }
  .linux {
    @extend .sprites-linux;
    height: sprites-sprite-height(linux);
    width: sprites-sprite-width(linux); }
}
