  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript">
  var settings = {
    site: {
      title: "{% if page.title %}{{ page.title }}{% endif %} | {{ site.title }}{{ site.author }}",
      description: "{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
    },
    page: {
      title: "{% if page.title %}{{ page.title }}{% endif %} | {{ site.title }} {{ site.author }}"
    },
    theme: { }
  };
  </script>
  <script src="/assets/js/scripts.js"></script>
</body>
</html>