  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
          <p>Thank you for your interest in the {% include brand.html %} project.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript">
  var settings = {
    site: {
      title: "{% if page.title %}{{ page.title }}{% endif %} | {{ site.title }}, {{ site.author }}",
      description: "{% if page.description %}{{ page.description }} Brought to you by {{ site.title }}, {{ site.author }}.{% else %}{{ site.description }}{% endif %}"
    },
    page: {
      title: "{% if page.title %}{{ page.title }}{% endif %} | {{ site.title }}, {{ site.author }}"
    },
    theme: { }
  };
  </script>
  <script src="/assets/js/scripts.js"></script>
</body>
</html>