  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
          <p>Thank you for your interest in the {% include brand.html %} project. Live free or die.</p>
        </div>
      </div>
    </div>{% if page.audio %}<div class="clearfix sr-only">
      <audio id="player" controls="controls" type="audio/mp3"></audio>
    </div>{% endif %}
  </footer>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>{% if page.audio %}
  <script type="text/javascript" src="/assets/js/mediaelement/mediaelement-and-player.min.js"></script>{% endif %}
  <script type="text/javascript">
  var settings = {
    site: {
      title: "{% if page.title %}{{ page.title }} | {% endif %}{{ site.author }} ({{ site.title }})",
      description: "{% if page.description %}{{ page.description }} Brought to you by {{ site.title }} {{ site.author }}.{% else %}{{ site.description }}{% endif %}"
    },
    page: {
      title: "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}",
      audio: "{% if page.audio %}{{ page.audio }}{% endif %}"
    },
    theme: { }
  };
  </script>
  <script type="text/javascript" src="/assets/js/app.js"></script>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66386274-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>