<!DOCTYPE html>
<html lang="en" class="default mono">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% endif %} | {{ site.title }}</title>
  <meta name="keywords" content="{% if page.title %}{{ page.title }}{% endif %}, {{ site.title }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:url" content="{{ site.baseurl }}{{ p.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/assets/css/styles.css" rel="stylesheet" type="text/css" />
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!--
               _                                                 _          _   _                          _
              | |                                               | |        | | | |                        | |
   _ __   __ _| |_ ___ _ __ ___   _____      __  _ __ ___   __ _| | _____  | |_| |__   ___    ___ ___   __| | ___ ____
  | '_ \ / _` | __/ _ \ '_ ` _ \ / _ \ \ /\ / / | '_ ` _ \ / _` | |/ / _ \ | __| '_ \ / _ \  / __/ _ \ / _` |/ _ \_  /
  | | | | (_| | ||  __/ | | | | | (_) \ V  V /  | | | | | | (_| |   <  __/ | |_| | | |  __/ | (_| (_) | (_| |  __// /
  |_| |_|\__,_|\__\___|_| |_| |_|\___/ \_/\_/   |_| |_| |_|\__,_|_|\_\___|  \__|_| |_|\___|  \___\___/ \__,_|\___/___|
  -->
</head>
<body>
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
          <a href="/" class="logo">{{ site.title }}</a>
          <p class="tagline">53 6f 6e 6f 20 69 6c 20 73 63 68 65 72 6e 6f 2e 20 53 6f 6e 6f 20 6c 61 20 70 65 73 74 69 6c 65 6e 7a 61 2e 20 53 6f 6e 6f 20 6c 61 20 53 61 6e 74 61 20 53 65 64 65 2e 20 53 6f 6e 6f 20 6c 65 20 66 65 63 69 20 64 61 6c 20 53 69 67 6e 6f 72 65 2e</p>
          <div class="theme pull-right">
            {% if page.url != '/' %}
            <a href="/">Back to main README</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>