<meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.author }} ({{ site.title }})</title>
  <meta name="keywords" content="{% if page.title %}{{ page.title }}, {% endif %}{% if page.tags.first == "blog" %}{{ page.tags | join: ', ' | remove_first: "blog, " }}, {% endif %}{{ site.title }}, Nate Mow" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
  <meta property="og:site_name" content="{{ site.author }} ({{ site.title }})" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }} Brought to you by {{ site.author }} ({{ site.title }}).{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.author }} ({{ site.title }})" />
  <meta property="og:image" content="{{ site.baseurl }}/assets/favicon/fluidicon.png" />
  <meta property="og:type" content="profile" />