  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }}{% endif %} | {{ site.title }}, {{ site.author }}</title>
  <meta name="keywords" content="{% if page.title %}{{ page.title }}, {% endif %}{{ site.title }}, Nate Mow" />
  <meta name="description" content="{{ site.title }}, {{ site.author }} - {% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
  <meta property="og:site_name" content="{{ site.title }}, {{ site.author }}" />
  <meta property="og:description" content="{{ site.title }}, {{ site.author }} - {% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:title" content="{{ site.title }}, {{ site.author }}" />
  <meta property="og:image" content="{{ site.baseurl }}/assets/favicon/pinned-{{ site.title }}.svg" />
  <meta property="og:type" content="profile" />