// Import dependencies.
//@import 'compass/reset';
@import 'compass/css3';
@import 'compass/typography';
@import 'compass/utilities';
@import 'compass/css3/opacity';

$margin: 30px;
$color-black: #343434;
$color-white: #fff;
$color-orange: #f90;

@mixin font-size($sizeValue: 1.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin clearfix() {
  // a more concise, more functionally friendly clearfix than compass's
  // this only bothers to comply with IE8 and up. Dropping support for IE7 and IE6.
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%FontDefault {
  @include font-size(1.6);
  font-weight: 500;
  line-height: 1.4;
}

%FontHeader {
  font-weight: 400;
  line-height: 1;
  margin: 0 0 ($margin * .50) 0;
  padding: 0;
}


html { font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  background: $color-black;
  color: $color-black;
}

header {
  @extend %FontDefault;
  background: lighten($color-black, 20);
  color: $color-white;
  padding: ($margin * .50) 0;

  * {
    color: $color-white;
  }
}

main {
  @extend %FontDefault;
  background: $color-white;
  border-top: solid 3px $color-black;
  border-bottom: solid 3px $color-black;
  padding: ($margin * .50) 0;

  aside {
    @include clearfix();
    display: none;
  }
}

footer {
  @extend %FontDefault;
  background: lighten($color-black, 20);
  color: $color-white;
  padding: ($margin * .50) 0;

  * {
    color: $color-white;
  }
}

h1, h2, h3, h4 {
  @extend %FontHeader;
}

p { margin-bottom: ($margin * .50); }

p:last-child { margin-bottom: 0; }

i, em, cite { font-style: italic; }

blockquote {
  display: block;
  margin: ($margin * .50) $margin;
}

a, a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

b, strong { font-weight: bold; }

ul, ol, ul ul, ol ol {
  margin-bottom: ($margin * .50);
}
