
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto";

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url('./background.png') repeat-y fixed center transparent;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

figure.bg {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

figure.bg img {
  display: block;
  height: 100%;
  margin: auto auto;
}

figure.bg figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

main {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: 2em auto;
}

main .underlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*
  background: #fff;
  opacity: .05;
  */
}

main > section {
  position: relative;
  padding: 0 1em;
}
