{% include header.html %}
  <div class="container" id="page">
    <main class="row">
      <section class="col-sm-12 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
        <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>

        <h2>Contents of this file</h2>
        <ol class="main-menu">
          {% if page.url_demo %}<li><a href="{{ page.url_demo }}" target="_blank">View demo</a></li>{% endif %}
          {% if page.url_github %}<li><a href="{{ page.url_github }}" target="_blank">View on GitHub</a></li>{% endif %}
        </ol>

{{ content }}

        {% if page.tags.first == "blog" %}

        <p>{% if page.previous != nil %}<a href="{{ page.previous.url }}">Previous</a>{% endif %} {% if page.next != nil %}<a href="{{ page.next.url }}">Next</a>{% endif %}</p>

        <h2>More musings</h2>
          {% include nav-blog.html %}
        {% endif %}

        {% if page.url != '/' %}<h2>Resources</h2>{% endif %}
        {% include nav.html %}
        <span class="line-numbers"></span>
      </section>
      <aside class="col-sm-12 col-md-3 col-lg-3">
        <span class="physician">Hans Holbein's Great Dance of Death, "The Physician"</span>
      </aside>
    </main>
  </div>
{% include footer.html %}
