{% include header.html %}
  <div class="container" id="page">
    <main class="row">
      <section class="col-sm-12 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
        <h1>{% if page.title %}{% if page.tags.first == "blog" %}{{ page.date | remove: " 00:00:00 +0000" }} | {% endif %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>

        <h2>Contents of this file</h2>
        <ul class="menu main-menu">{% if page.project_demo_url %}
          <li><a href="{{ page.project_demo_url }}" target="_blank">View demo</a></li>{% endif %}{% if page.project_url %}
          <li><a href="{{ page.project_url }}" target="_blank">View main project page</a></li>{% endif %}
          <li><a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">Share on Facebook</a></li>
        </ul>
        <div class="content">

          {{ content }}

          {% if page.tags.first == "blog" %}<h2>Tags</h2>
          <p>{{ page.tags | join: ', ' | remove_first: "blog, " }}</p>

          <h2>More posts</h2>
          {% include nav-blog.html %}{% endif %}

        </div>

        <h2>Directory</h2>{% if page.url == '/' %}
        <p>Click the World Wide Web hyperlinks below to learn more about the {% include brand.html %} project:</p>
        <ul class="menu">
          <li>{{ site.title }}@<a href="https://github.com/{{ site.title }}" class="blink">GitHub</a> &lt;-- CLICK HERE TODAY!!!</li>
          <li>{{ site.title }}@<a href="https://www.drupal.org/u/{{ site.title }}" class="blink">Drupal</a> &lt;-- CLICK HERE TODAY!!!</li>
          <li>{{ site.title }}@<a href="https://www.linkedin.com/in/{{ site.title }}" class="blink warning">LinkedIn</a> &lt;-- CLICK HERE TODAY!!!</li>
        </ul>{% endif %}
        {% include nav.html %}
        <span class="line-numbers"></span>
      </section>
      <aside class="col-sm-12 col-md-3 col-lg-3">
        <span class="physician">Hans Holbein's Great Dance of Death, "The Physician"</span>
      </aside>
    </main>
  </div>
{% include footer.html %}
